 <!DOCTYPE html>
  <html lang="en">
      <head> 
              <title>Hello Backbone.js!</title>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
              <script src="https://code.jquery.com/jquery-2.1.1.min.js"> </script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

              <style>
ul#photos {
width: 350px;
list-style: none;
}

ul#photos li {
float: left;
margin: 5px;
}

ul#photos img{
border: 5px solid orange;
width: 75px;
height: 75px
}
              </style>   
      </head>
          <body>
               <h1>Backbone.js Flickr Gallery</h1>

               <ul id="photos">

                   <script type="text/template" id="item"> 

                     <li><a href="<%= link %>"><img src="<%= media.m %>" /></a></li>

                   </script>
               </ul>
<script src="app.js"></script>

          </body>
  </html>